<% if action_name != "show" %>
  <tr class="table-row">
    <td class="table-cell text-center border border-gray-400">
      <%= tool.name %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= tool.description %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <div class="flex flex-row justify-evenly">
        <%= tool.thumbnail_url %>
        <% if tool.thumbnail_url.present? && lookup_context.exists?(tool.thumbnail_url, [], true) %>
          <%= render partial: tool.thumbnail_url %>
        <% end %>
      </div>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= tool.exercises.length %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <div class="flex flex-row items-center justify-evenly">
        <%= link_to tool, {"data-turbo-frame": "_top"} do %>
          <%= render 'shared/view_icon' %>
        <% end %>
        <%= link_to edit_tool_path(tool), {class: "border-1 border-solid rounded-sm", "data-turbo-frame": "_top"} do %>
          <%= render 'shared/edit_icon' %>
        <% end %>
        <hr class="mt-6">
      </div>
    </td>
  </tr>
<% end %>
<% if action_name == "show" %>
  <div id="<%= dom_id tool %>" class="border-solid rounded-md border-2 p-2 m-1">
    <p class="my-5">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= tool.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= tool.description %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">tool group:</strong>
      <%= tool.thumbnail_url %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1"># Exercises:</strong>
      <%= tool.exercises.length %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show this tool", tool, {class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"} %>
      <%= link_to "Edit this tool", edit_tool_path(tool), {class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"} %>
      <hr class="mt-6">
    <% end %>
  </div>
<% end %>