<% if action_name != "show" %>
  <tr id="<%= dom_id muscle %>" class="table-row">
    <td class="table-cell text-center border border-gray-400">
      <%= muscle.name %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= muscle.description %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= muscle.muscle_group.name %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= muscle.exercises.length %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <div class="flex flex-row justify-evenly">
        <%= link_to muscle do %>
          <%= render 'shared/view_icon' %>
        <% end %>
        <%= link_to edit_muscle_path(muscle), class: "border-1 border-solid rounded-sm" do %>
          <%= render 'shared/edit_icon' %>
        <% end %>
        <hr class="mt-6">
      </div>
    </td>
  </tr>
<% end %>

<% if action_name == "show" %>
  <div id="<%= dom_id muscle %>" class="border-solid rounded-md border-2 p-2 m-1">
    <p class="my-5">
      <strong class="block font-medium mb-1">Name:</strong>
      <%= muscle.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= muscle.description %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Muscle group:</strong>
      <%= muscle.muscle_group.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1"># Exercises:</strong>
      <%= muscle.exercises.length %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show this muscle", muscle, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit this muscle", edit_muscle_path(muscle), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
<% end %>



