<% if action_name != "show" %>
  <tr id="<%= dom_id exercise %>" class="table-row">
    <td class="table-cell text-center border border-gray-400">
      <%= exercise.name %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= exercise.user.email %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <meter min="1" max="5" low="1" high="4" value="<%= exercise.difficulty %>"><%= exercise.difficulty %></meter>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= exercise.variant_ofs.length %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= exercise.variants.length %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <%= exercise.muscles.length %>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <div class="flex flex-row items-center justify-evenly">
        <% exercise.tools.each do |tool| %>
          <div class="pl-2">
            <% if tool.thumbnail_url.present? && lookup_context.exists?(tool.thumbnail_url, [], true) %>
              <div title="<%=tool.name%>">
                <%= render partial: tool.thumbnail_url %>
              </div>
            <% else %>
              <%= tool.name %>
            <% end %>
          </div>
        <% end %>
      </div>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <div title=<%= exercise.movement_patterns.map{|pattern| pattern.name }.join(',')%>> 
        <%= exercise.movement_patterns.length %>
      </div>
    </td>
    <td class="table-cell text-center border border-gray-400">
      <div class="flex flex-row items-center justify-evenly">
        <%= link_to exercise, {"data-turbo-frame": "_top"} do %>
          <%= render 'shared/view_icon' %>
        <% end %>
        <%= link_to edit_exercise_path(exercise), {class: "border-1 border-solid rounded-sm", "data-turbo-frame": "_top"} do %>
          <%= render 'shared/edit_icon' %>
        <% end %>
        <hr class="mt-6">
      </div>
    </td>
  </tr>
<% end %>

<% if action_name == "show" %>
  <div id="<%= dom_id exercise %>">
    <p class="my-5">
      <strong class="font-medium mb-1">Name:</strong>
      <%= exercise.name %>
    </p>

    <p class="my-5">
      <strong class="font-medium mb-1">Description:</strong>
      <%= exercise.description %>
    </p>

    <p class="my-5">
      <strong class="font-medium mb-1">Difficulty:</strong>
      <%= exercise.difficulty %>
    </p>

    <p class="my-5">
      <strong class="font-medium mb-1">Is variant of:</strong>
      <%= exercise.variant_ofs.length %>
    </p>

    <p class="my-5">
      <strong class="font-medium mb-1">Variants:</strong>
      <%= exercise.variants.length %>
    </p>

    <p class="my-5">
      <strong class="font-medium mb-1">Involved Muscles:</strong>
      <%= exercise.muscles.map{|muscle| muscle.name}.join(', ') %>
    </p>

    <p class="my-5">
      <strong class="font-medium mb-1">Involved movement patterns:</strong>
      <%= exercise.movement_patterns.map{|pattern| pattern.name}.join(', ') %>
    </p>

    <div class="flex flex-row items-start justify-normal">
      <strong class="font-medium mb-1">Tools:</strong>
        <% exercise.tools.each do |tool| %>
          <div class="pl-2">
            <% if tool.thumbnail_url.present? && lookup_context.exists?(tool.thumbnail_url, [], true) %>
              <%= link_to tool, :title => tool.name  do %>
                <%= render partial: tool.thumbnail_url %>
              <% end %>
            <% else %>
              <%= link_to tool.name, tool, :title => tool.name %>
            <% end %>
          </div>
        <% end %>
    </div>

  </div>
<% end %>



