<%= form_with(model: exercise, class: "contents") do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :difficulty %>
    <%= form.text_field :difficulty, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 grid grid-cols-3">
    <div class="flex flex-col">
      <%= form.label :tools %>
      <%= 
        form.collection_check_boxes :tool_ids, @tools,:id,:name, {selected: exercise.tool_ids, 
        include_blank: false}, {:multiple => true, size: @tools.count } 
      %>
    </div>
    <div class="flex flex-col ml-1">
      <%= form.label :muscles %>
      <%= 
        form.collection_check_boxes :muscle_ids, @muscles,:id,:name, {selected: exercise.muscle_ids, 
        include_blank: false}, {:multiple => true, size: @muscles.count } 
      %>
    </div>
    <div class="flex flex-col ml-1">
      <%= form.label :movement_patterns %>
      <%= 
        form.collection_check_boxes :movement_pattern_ids, @movement_patterns,:id,:name, {selected: exercise.movement_pattern_ids, 
        include_blank: false}, {:multiple => true, size: @movement_patterns.count } 
      %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
