<aside class="col-span-1 h-full bg-gray-700 text-white">
    <nav class="h-full">
        <ul class="flex flex-col justify-between items-center">
            <% if user_signed_in? %>
                <li class="w-full">
                    <%= link_to "Muscles", muscles_path, {class: 'block h-8 w-full p-2 mb-2'} %>
                </li>
                <li class="w-full">
                    <%= link_to "Muscle Groups", muscle_groups_path, class: 'block h-8 w-full p-2 mb-2' %>
                </li>
                <li class="w-full">
                    <%= link_to "Movement Patterns", movement_patterns_path, class: 'block h-8 w-full p-2 mb-2' %>
                </li>
                <li class="w-full">
                    <%= link_to "Tools", tools_path, class: 'block h-8 w-full p-2 mb-2' %>
                </li>
                <li class="w-full">
                    <%= link_to "Aspects", aspects_path, class: 'block h-8 w-full p-2 mb-2' %>
                </li>
                <li class="w-full">
                    <%= link_to "Protocols", protocols_path, class: 'block h-8 w-full p-2 mb-2' %>
                </li>
            <% end %>
            <li class="w-full">
                <%= link_to "Exercises", exercises_path, class: 'block h-8 w-full p-2 mb-2' %>
            </li>
        </ul>
    </nav>
</aside>